/* global */
body{
    background-image:url(pattern.jpg);
    background-repeat:repeat;
    margin:0;
    position:relative;
    font-family:"Slabo 27px";
}
ol, ul{
    padding-left:17px;
}

/* header */
header{
    background-color:#fff;
    width:100%;
    position:fixed;
    top:0;
}
header img{
    float:left;
}
nav{
    float:right;
}
nav ul{
    padding-left:0;
    margin:16px;
}
nav li{
    list-style-type:none;
    display:inline;
    padding:0 10px;
}

/* section */

section{
    max-width:1024px;
    margin:80px auto 0;
    background:#fff;
    padding:10px;
}
section h1, section h2{
    text-align:center;
    font-size: 33px;
}
section .wrap{
    padding:20px;
}
section .border{
    border:1px solid #ccc;
}
#article-list > div{
    border-bottom:1px solid #ccc;
}

/* about */


/* contact */
#addresses li{
    list-style-type:none;
}
#addresses ul{
    padding-left:0;
}
.form-group{
    position:relative;
    padding:8px 0;
}
.form-group label{
    width:140px;
    display:inline-block;
    font-weight:bold;
}
.form-group .input-wrap{
    width:300px;
    display:inline-block;
}
.form-group .input-wrap input[type=text],
.form-group .input-wrap input[type=email]{
    width:100%;
    max-width:180px;
}
.form-group .input-wrap textarea{
    width:100%;
    min-height:80px;
}

/* footer */
footer{
    background:#000;
    padding:20px;
    margin:0;
    text-align:center;
    display:block;
}
footer h5{
    color:#fff;
    padding:0;
    margin:0;
}

/* responsive */
@media screen and (max-width:767px){
    header{
        height:auto;
        text-align:center;
    }
    header img, nav{
        float:none;
    }
    section{
        margin:130px 20px 20px;
    }
}